*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
    text-align: center;
    background-color: rgb(196, 255, 228);
    color: black;



}

button{
    border-style: outset;
    border-radius: 4px;
    
}